<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">

	<bean id="sessionProvider"
		class="by.grodno.pvt.site.webappsample.service.utils.SessionProvider" />
	<bean id="hibernateUserService" primary="true"
		class="by.grodno.pvt.site.webappsample.service.impl.HibernateUserService">
		<constructor-arg ref="sessionProvider" index="0" />
	</bean>
	<bean id="jdbcUserService"
		class="by.grodno.pvt.site.webappsample.service.impl.UserService" />


</beans>