<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Getting Started: Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body>

	<th:block th:insert="fragments/navBar.html :: navBar" />

	<div class="row justify-content-center  p-2	">Enter user details
		please...</div>

	<form th:action="@{/cars/add}" method="get">

		<div class="row justify-content-center  p-1">
			<div class="col-sm  p-1 justify-content-end"
				style="text-align: right">Enter cars count to create :</div>
			<div class="col-sm  p-1">
				<input type="number" name="count" />
			</div>

		</div>

		<div class="row justify-content-center  p-1">
			<input class="btn btn-primary" type="submit" value="Create cars" />
		</div>
	</form>




	<th:block th:insert="fragments/scripts.html :: js" />
</body>
</html>