<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body>

	<th:block th:insert="fragments/navBar.html :: navBar" />

	<p>Hello. Choose something in menu please!</p>
	<form th:action="@{/dropdown}" method="post">
		<select name="role">
			<option
				th:each="role : ${T(by.grodno.pvt.site.webappsample.domain.UserRole).values()}"
				th:value="${role}" th:text="${role}" th:if="${role != currentRole}">
			</option>
		</select> <br /> <br />
		<div class="row justify-content-center  p-1">
			<input class="btn btn-primary" type="submit" value="Edit" />
		</div>
	</form>
	<th:block th:insert="fragments/scripts.html :: js" />
</body>
</html>