<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Getting Started: Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" /> 

<body>

    <th:block th:insert="fragments/navBar.html :: navBar" /> 

	<div th:if="${param.error}">Something went wrong</div>
	<form th:action="@{/register/new}" method="post">
		<div>
			<label> Email : <input type="text" name="email" />
			</label>
		</div>
		<div>
			<label> First name : <input type="text" name="firstName" />
			</label>
		</div>
		<div>
			<label> Last name : <input type="text" name="lastName" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
	<a th:href="@{/register}">Register new user</a>
	


	<th:block th:insert="fragments/scripts.html :: js" /> 
</body>
</html>