<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text="#{label.getting.started}">Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body>

	<th:block th:insert="fragments/navBar.html :: navBar" />

	<p class="row">You want to sell nexxt users:</p>

	<div class="container">
		<div class="row">

			<div class="border col-lg-2">Id</div>
			<div class="border col-lg-5" th:text="#{label.firstname}">Firstname 123</div>
			<div class="border col-lg-5" th:text="#{label.lastname}">Lastname 123</div>

		</div>

		<div class="row" th:each="user : ${users}">

			<div class="border col-lg-2" th:text="${user.id}"></div>
			<div class="border col-lg-5" th:text="${user.firstName}"></div>
			<div class="border col-lg-5" th:text="${user.lastName}"></div>

		</div>

	</div>


	<br />
	<br />


	<a class="btn btn-primary" th:href="@{/sold/apply}">Perform Action</a>


</body>
</html>