<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text="#{label.getting.started}">Getting Started: Serving Web Content ORIGINAL</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<th:block th:insert="fragments/header.html :: css" />

<body style="background-image: url('/img/back.jpg');">

	<th:block th:insert="fragments/navBar.html :: navBar" />


	<div class="row justify-content-center p-3">
		<p>
			Hello, <span sec:authentication="principal.username">Udefined</span>!
		</p>
	</div>

	<div class="container" style="background-color: white;">
		<div class="row">
			<div class="border col-lg-1">Image</div>
			<div class="border col-lg-1">Id</div>
			<div class="border col-lg-2">
				<a class="p-2" th:href="@{'/users'+'?fieldName=firstName'}" th:text="#{label.firstname}">Firstname  ORIGINAL</a>
			</div>
			<div class="border col-lg-2" th:text="#{label.lastname}">Lastname  ORIGINAL</div>
			<div class="border col-lg-1" sec:authorize="hasRole('ROLE_ADMIN')">Edit</div>
			<div class="border col-lg-1">Buy user</div>
			<div class="border col-lg-4" sec:authorize="hasRole('ROLE_ADMIN')">Upload
				img</div>
		</div>

		<div class="row" th:each="user : ${users}">
			<div class="border justify-content-center col-lg-1 p-2">
				<img th:src="@{/users/{uid}/img(uid=${user.id})}" width="75"
					height="75" alt="">
			</div>
			<div class="border col-lg-1" th:text="${user.id}"></div>
			<div class="border col-lg-2" th:text="${user.firstName}"></div>
			<div class="border col-lg-2" th:text="${user.lastName}"></div>

			<div class="border col-lg-1">
				<a class="btn btn-link"
					th:href="@{/users/edit/{uid}(uid=${user.id})}">Edit</a>
			</div>
		<div class="border col-lg-1">
				<a class="btn btn-link"
					th:href="@{/users/buy/{uid}(uid=${user.id})}">Buy</a>
			</div>
			<div class="border col-lg-4" sec:authorize="hasRole('ROLE_ADMIN')">
				<form method="POST" enctype="multipart/form-data"
					th:action="@{/users/{uid}/img(uid=${user.id})}">
					<!-- <div class="custom-file">    class="custom-file-input" class="custom-file-label"--><div class="custom-file">
						<div class="col-lg-7 p-2">
							<input class="custom-file-input" type="file" name="file"
								id="inputGroupFile03"> <label class="custom-file-label"
								for="inputGroupFile03">Choose file</label>
						</div>
						<input type="submit" value="Upload" />
					</div>
				</form>
			</div>
		</div>
		
		
		
		<div class="row p-2">
			Choose page: <span th:each="i: ${#numbers.sequence(1,totalPages)}">

				<a class="p-2" th:if="${currentPage + 1 != i}"
				th:href="@{'/users'+'?pn='+${i}}">[[${i}]]</a> <span class="p-2 "
				th:unless="${currentPage + 1 != i}">[[${i}]]</span>

			</span>

		</div>
	</div>
	<br />
	<br />



	<th:block th:insert="fragments/scripts.html :: js" />
	<script>
            $('#inputGroupFile03').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>
</body>
</html>